<nav class="global-nav" #globalNav>
  <div class="nav-header">
    <div class="nav-header">
      <div class="user-details1">
        <a href="javascript:;">
          <span class="round-circle blue">
            <h3>Admin</h3>
            <img src="./assets/images/svg/user-profile-w.svg" alt="user-img" />
          </span>
        </a>
        <div class="in-details">
          <h5>Admin Dashboard</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-items">
    <ul class="lst-nav-items">
      <li
        [ngClass]="{
          'coming-soon': menu?.isEnable == 'N',
          drilldown: menu?.subMenuList?.length > 0
        }"
        *ngFor="let menu of mainMenuList; let i = index"
      >
        <a
          [ngClass]="{ 'glnv-dropdown': menu?.subMenuList?.length > 0 }"
          (click)="goToPage(menu?.URL)"
        >
          <!-- <img
              [src]="'./assets/images/menu_web/' + menu.JSON_KEY"
              alt="icon"
              class="menu.menuImage"
              title="{{ menu.menuName }}"
            /> -->
          <i
            class="{{ menu.menuImage + ' fa-fw' }}"
            style="color: black;"
            data-toggle="tooltip"
            data-placement="right"
            aria-hidden="true"
          ></i>
          {{ menu.menuName }}
          <span
            class="chevron"
            *ngIf="menu?.subMenuList?.length > 0"
            (click)="expandSubmenu(menu)"
          ></span>
          <div class="hovering-option">{{ menu.menuName }}</div>
        </a>
        <div class="overlap-badge coming-soon" *ngIf="menu?.isEnable == 'N'">
          <small style="color: red">{{ menu?.textToDisplay }}</small>
        </div>
        <div
          *ngIf="menu?.subMenuList?.length > 0"
          class="mysubnavigation-items"
          [ngClass]="{ open: menu.isSubMenuOpen }"
        >
          <ul class="lst-subnavigation">
            <li *ngFor="let sub of menu?.subMenuList; let j = index">
              <a (click)="goToPage(sub?.menuLink)">
                <i
                  class="{{ sub?.menuLogo + ' fa-fw' }}"
                  aria-hidden="true"
                ></i>
                {{ sub.menuName }}
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="nav-footer">
    <div class="poweredby">
      <div class="row">
        <div class="col-12 col-xl-12 p-0">
          <p class="hide-m">
            <img src="assets/images/svg/version-g.svg" alt="vrsion-icon" />{{
              "Version"
            }}
            {{ "1.0" }}
          </p>
          <!-- <p class="hide-desk">
            <a href="javascript:;">
              <img src="assets/images/menu_web/logout.svg" alt="logout-icon" />
              {{ "Logout" }}
            </a>
          </p> -->
        </div>
      </div>
    </div>
  </div>
</nav>
