<div class="main bg-m">
  <div class="right-main-column">
    <div class="right-col-container pad-b full-width">
      <!-- ======== body page content start from here ======== -->
      <div class="body-page-container main-dashborad">
        <div class="container-fluid">
          <!--.row -->
          <div class="row no-gutters">
            <div class="col-12">
              <div class="row1">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <!-- getSaveData component starts here -->
                  <!-- card starts here -->
                  <div class="card mt-3">
                    <div class="card-body">
                      <div class="col-12">
                        <h3 class="mb-3">Saved Data</h3>
                        <ngx-datatable
                          #myTable
                          class="material expanded"
                          [rows]="rows"
                          [columns]="columns"
                          [sortType]="SortType.multi"
                          [columnMode]="ColumnMode.force"
                          [headerHeight]="50"
                          [footerHeight]="50"
                          [scrollbarV]="true"
                          [scrollbarH]="true"
                          [limit]="10"
                        ></ngx-datatable>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
