<div class="main bg-m">
  <div class="right-main-column">
    <div class="right-col-container pad-b full-width">
      <!-- ======== body page content start from here ======== -->
      <div class="body-page-container main-dashborad">
        <div class="container-fluid">
          <!--.row -->
          <div class="row no-gutters">
            <div class="col-12">
              <div class="row1">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <!-- getSaveData component starts here -->
                  <!-- card starts here -->
                  <div class="card mt-3">
                    <div class="card-body">
                      <h4 class="mb-3">Saved Data</h4>
                      <div class="col-12 col-md-4 col-sm-12 col-lg-4 col-xl-4">
                        <div class="ux-input">
                          <label for="type" class="align-self-center">Search Page Data</label>
                          <ng-select #pageId (change)="fetchSavedData()">
                            <ng-option *ngFor="let page of pages" [value]="page.ID">
                              {{ page.PAGENAME }}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                      <!-- reusable data component -->
                      <app-datatable *ngIf="showDataTable" [rows]="rows" [columns]="columns"
                        [loadingIndicator]="loadingIndicator" [selectedTemplateClass]="selectedTemplateClass"
                        (search)="updateFilter($event)" (changeTemplate)="applyTemplate($event)">
                      </app-datatable>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>