<div class="main bg-m">
  <div class="right-main-column">
    <div class="right-col-container pad-b full-width">
      <!-- ======== body page content start from here ======== -->
      <div class="body-page-container main-dashborad">
        <div class="container-fluid">
          <!--.row -->
          <div class="row no-gutters">
            <div class="col-12">
              <div class="row1">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <form>
                    <!-- master name card starts here -->
                    <div class="card mt-3">
                      <div class="card-header bg-primary text-white">Create Page Elements</div>
                      <div class="card-body">
                        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
                          <div class="ux-input">
                            <label for="elementType">Element Type:<span class="mandatory">*
                              </span></label>
                            <ng-select labelForId="elementType" (change)="getDropDown()" name="elementType" #type>
                              <ng-option *ngFor="let elementType of elementTypes"
                                [value]="elementType.value">{{elementType.text}}</ng-option>
                            </ng-select>
                          </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
                          <div class="ux-input">
                            <label for="elementName">Element Name List</label>
                            <ng-select labelForId="elementName" name="elementName" #selectElement>
                              <ng-option *ngFor="let item of elements" [value]="item.DROPDOWNNAME">
                                {{ item.DROPDOWNNAME }}
                              </ng-option>
                            </ng-select>
                          </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
                          <button class="ux-button" type="button" (click)="addElement()">
                            Add
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- .row1 starts here  -->
              <div class="row1">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <!-- selected element card starts here -->
                  <div *ngIf="selectedElements.length > 0" class="card mt-3">
                    <div class="card-header bg-primary text-white">Selected Elements</div>
                    <div class="card-body">
                      <div cdkDropListGroup class="element-container col-md-6 col-lg-4 col-xl-4 col-12">
                        <div cdkDropList [cdkDropListData]="selectedElements" (cdkDropListDropped)="drop($event)"
                          class="element-list">
                          <div *ngFor="let element of selectedElements" cdkDrag class="element">
                            <p>{{ element.DROPDOWNNAME }}</p>
                            <div class="icon-group">
                              <fa-icon class="fa-grip" [icon]="faGripHorizontal"></fa-icon>
                              <fa-icon class="fa-close" [icon]="faClose" (click)="deleteElement(element)"></fa-icon>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-4 col-xl-4 col-12">
                        <button class="ux-button" type="button" (click)="createPageElements()">
                          Save
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>