<div class="right-main-column">
  <div class="right-col-container pad-b full-width">
    <div class="body-page-container main-dashborad">
      <div class="container-fluid">
        <div class="row no-gutters">
          <div class="col-12">
            <div class="row1 mt-custom">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row">
                  <div class="dcustom-bg">
                    <div class="row1">
                      <div class="col-12">
                        <h2 class="text-center">Welcome, Admin</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>