<div class="main bg-m">
  <div class="right-main-column">
    <div class="right-col-container pad-b full-width">
      <div class="body-page-container main-dashborad">
        <div class="container-fluid">
          <div class="row no-gutters">
            <div class="col-12">
              <div class="row1">
                <div class="col-12">
                  <form [formGroup]="dynamicInputForm">
                    <div class="card mt-3">
                      <div class="card-header bg-primary text-white">
                        Create Master Element
                      </div>
                      <div class="card-body row">
                        <!-- Simplified input fields -->
                        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                          <div class="ux-input">
                            <label for="type">Input Type:<span class="mandatory">*</span></label>
                            <ng-select formControlName="type" name="type">
                              <ng-option *ngFor="let type of types" [value]="type.value">{{ type.text }}</ng-option>
                            </ng-select>
                            <p class="text-danger" *ngIf="
                                dynamicInputForm.controls['type']?.touched &&
                                dynamicInputForm.controls['type'].hasError(
                                  'required'
                                )
                              ">
                              Type is required!
                            </p>
                          </div>
                        </div>

                        <!-- Other input fields of dynamicform -->
                        <div *ngFor="
                            let field of [
                              'dropDownName',
                              'description',
                              'class',
                              'regex',
                              'validation'
                            ]
                          " class="col-12 col-md-6 col-lg-6 col-xl-6">
                          <div class="ux-input">
                            <label for="{{ field }}">{{ field | titlecase }}:<span class="mandatory"
                                *ngIf="field !== 'class'">*</span></label>
                            <input id="{{ field }}" type="text" formControlName="{{ field }}" [placeholder]="
                                'Master Element ' + field | titlecase
                              " [required]="field !== 'class'" />
                            <p class="text-danger" *ngIf="
                                dynamicInputForm.controls[field]?.touched &&
                                dynamicInputForm.controls[field].hasError(
                                  'required'
                                )
                              ">
                              {{ field | titlecase }} is required!
                            </p>
                          </div>
                        </div>

                        <!-- Checkbox for mandatory -->
                        <div class="col-12 col-md-6 col-lg-6 col-xl-6 mt-2">
                          <div class="ux-input d-flex">
                            <input class="me-2" id="mandatory" type="checkbox" formControlName="mandatory" />
                            <label class="fs-6" for="mandatory">Is This Element Field Mandatory</label>
                          </div>
                        </div>

                        <!-- Save button and error message -->
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12 mt-4 text-center">
                          <button class="ux-button" type="button" (click)="createElement()">
                            Save
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <!-- Display Master Elements -->
              <div class="row1">
                <div class="col-12">
                  <div *ngIf="dynamicInput.length > 0" class="card mt-3">
                    <div class="card-header bg-primary text-white">
                      Master Elements
                    </div>
                    <div class="card-body table-responsive">
                      <table class="table table-bordered table-hover table-striped">
                        <thead class="text-center">
                          <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Description</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody class="text-center" *ngFor="let input of dynamicInput; let i = index">
                          <tr>
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ input.dropDownName }}</td>
                            <td>{{ input.type | titlecase }}</td>
                            <td>{{ input.description }}</td>
                            <td>
                              <div class="btn-group" role="group">
                                <button *ngIf="isIconVisible(input.type)" class="btn btn-primary rounded-circle mr-2"
                                  type="button" (click)="viewValues(i)">
                                  <fa-icon [icon]="faEye" title="Click to insert values"></fa-icon>
                                </button>
                                <button *ngIf="isIconVisible(input.type)" class="btn btn-primary rounded-circle"
                                  type="button" (click)="viewValuesviaServer(i)">
                                  <fa-icon [icon]="faLocationArrow" title="Click to insert values via server"></fa-icon>
                                </button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>