<div class="widget-box4 overflow my-2">
  <div class="bg-white1 bor-rad pad-custom">
    <div class="d-md-flex justify-content-md-between">
      <div class="col-12 col-md-5 col-lg-4 col-sm-12 col-xl-4">
        <div class="ux-input">
          <label for="template" class="align-self-center">Report Template</label>
          <ng-select labelForId="template" [(ngModel)]="selectedTemplateClass"
            (change)="onTemplateChange(selectedTemplateClass)">
            <ng-option *ngFor="let template of templates" [value]="template.value">{{template.id}}</ng-option>
          </ng-select>
        </div>
      </div>
      <!-- Search input field  -->
      <div class="col-12 col-md-5 col-lg-4 col-sm-12 col-xl-4">
        <div class="ux-input d-flex mt-4 p-2">
          <input class="search-input position-relative" type="text" placeholder="Search Data"
            (input)="onSearch($event)" />
          <fa-icon class="position-absolute align-self-center end-0" [icon]="faSearch"></fa-icon>
        </div>
      </div>
    </div>
    <!--.datatable-box-->
    <div class="col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12">
      <ngx-datatable [class]="selectedTemplateClass" [rows]="rows" [columns]="columns"
        [loadingIndicator]="loadingIndicator" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="50" [scrollbarH]="true" [scrollbarV]="true" [reorderable]="reorderable" [limit]="10">
      </ngx-datatable>
    </div>
    <!--.dt-exports-->
    <div class="dt-extras mt-4">
      <div class="dt-exports" (click)="commonMethod.toggleExportChevron()">
        <em>Export to :<span class="chevron"></span></em>
        <button class="linkbutton exp-excel" (click)="exportData('excel')">Excel <b>(.xlsx)</b></button>
        <button class="linkbutton exp-pdf" (click)="exportData('pdf')">Pdf <b>(.pdf)</b></button>
        <button class="linkbutton exp-word" (click)="exportData('word')">word <b>(.doc)</b></button>
        <button class="linkbutton exp-xml" (click)="exportData('xml')">XML <b>(.xml)</b></button>
        <button class="linkbutton exp-csv" (click)="exportData('csv')">csv <b>(.csv)</b></button>
      </div>
    </div>
  </div>
</div>