<div class="widget-box4 overflow my-2">
  <div class="bg-white1 bor-rad pad-custom">
    <div class="d-lg-flex justify-content-lg-between">
      <div class="col-12 col-md-5 col-lg-4 col-sm-12 col-xl-4">
        <div class="ux-input">
          <label for="template" class="align-self-center">Report Template</label>
          <select name="template" [(ngModel)]="selectedTemplateClass"
            (change)="onTemplateChange(selectedTemplateClass)">
            <option value="material expanded">Template 1</option>
            <option value="dark expanded">Template 2</option>
            <option value="bootstrap expanded">Template 3</option>
            <option value="material">Template 4</option>
          </select>
        </div>
      </div>
      <!-- Search input field  -->
      <div class="col-12 col-md-12 col-lg-4 col-sm-12 col-xl-4">
        <div class="ux-input d-flex mt-4 p-2">
          <input class="search-input position-relative" type="text" placeholder="Search Data"
            (input)="onSearch($event)" />
          <fa-icon class="position-absolute align-self-center end-0" [icon]="faSearch"></fa-icon>
        </div>
      </div>
    </div>
    <!--.datatable-box-->
    <div id="myDataTable" class="col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12">
      <ngx-datatable [class]="selectedTemplateClass" [rows]="rows" [columns]="columns"
        [loadingIndicator]="loadingIndicator" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [limit]="10">
      </ngx-datatable>
    </div>
    <!--.dt-exports-->
    <div class="dt-extras mt-4">
      <div class="dt-exports">
        <em>Export to :<span class="chevron" (click)="commonMethod.toggleExportChevron()"></span></em>
        <button class="linkbutton exp-excel" (click)="exportAs('xlsx')">Excel <b>(.xlsx)</b></button>
        <button class="linkbutton exp-pdf" (click)="exportAs('pdf')">Pdf <b>(.pdf)</b></button>
        <button class="linkbutton exp-word" (click)="exportAs('docx')">word <b>(.docx)</b></button>
        <button class="linkbutton exp-xml" (click)="exportAs('xml')">XML <b>(.xml)</b></button>
        <button class="linkbutton exp-csv" (click)="exportAs('csv')">csv <b>(.csv)</b></button>
      </div>
    </div>
  </div>
</div>